<div class="jumbotron">
     <h1 class="title">Amazing Opportunity</h1>
     <p class="slogan">Amazing Opportunity proivde the amazing job opportunities to you.
     <br>
     We hope through Amazing Opportunity you can find the satisfied job.
     <br>
      Turst yourself and you will get it !
     </p>
     <p class="lead"><a class="btn btn-lg btn-success active" href="/jobs">Find Jobs Now</a></p>
   </div>
